/* 
 *  Author     : Rob Garcia at rgarcia@rgprogramming.com.
 */

body {
    font-family: monospace;
    width: 80%;
    margin: auto;
}
table {
    padding: 3px;
    width: 100%;
}
.tableByCol {
    display: table;
}
.tableByCol tr {
    display: table-cell;
    vertical-align: top;
}
.tableByCol tr td {
    display: block;
}
header {
    padding: 12px 0;
}
#sherpaLogo {
    float:left;
    height:100px;
    padding-right: 12px;
}
.highlight {
    background-color: yellow;
}

