/* 
 *  Created on : Mar 3, 2019, 5:42:29 PM
 *  Author     : Rob Garcia at rgarcia@rgprogramming.com
 */

body {
    font-family: sans-serif;
    width: 80%;
    margin: auto;
}
table {
    padding: 3px;
    width: 100%;
}
header {
    padding: 12px 0;
}
#sherpaLogo {
    float:left;
    height:100px;
    padding-right: 12px;
}

