/**
 * Summary. CSS augment of Bootstrap styling for application
 *
 * @author Rob Garcia at rgarcia@rgprogramming.com.
 */

body {

}
textarea {
    font-family: monospace;
    width:100%;
}
table {
    font-family: monospace;
    padding: 3px;
    width: 100%;
}
/* For multi-column tables, flow data down and right, instead of right and down */
.tableByCol {
    display: table;
}
.tableByCol tr {
    display: table-cell;
    vertical-align: top;
    width: 33%;
}
.tableByCol tr td {
    display: block;
}
.highlight {
    background-color: yellow;
}

